<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{not-found.title}"></title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/declaration.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/redirection.js}"></script>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100 green-gradient">
<div class="text-center">
    <h1 class="display-4 text-danger" th:text="#{not-found.header}"><strong></strong></h1>
    <br>
    <p class="lead error-text" th:text="#{not-found.message}"></p>
    <br>
    <p class="mb-0 confirmation-text">
        <span th:text="#{home.redirection-message}"></span>
        <strong><span id="countdown" th:text="#{home.redirection-message-seconds-left}"></span></strong>
        <span th:text="#{home.redirection-message-seconds}"></span></p>
    <div class="text-center mt-4">
        <a th:href="@{/}" class="btn btn-outline-primary me-2" th:text="#{button.return-home}"></a>
    </div>
</div>
</body>
</html>