<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{no-confirmation.title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/declaration.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/redirection.js}"></script>
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100 green-gradient">
<div class="container text-center mt-5">
    <div class="card shadow-lg p-5 rounded-5 home">
        <h4 class="alert-heading"><i class="fa-solid fa-square-xmark" style="color: #cc1306;"></i>
            <span th:text="#{no-confirmation.declaration-not-submitted}"></span>
            <i class="fa-solid fa-square-xmark" style="color: #cc1306;"></i></h4>
        <br>
        <p class="lead error-text" th:text="#{no-confirmation.message}"></p>
        <br>
        <p class="mb-0 confirmation-text">
            <span th:text="#{home.redirection-message}"></span>
            <strong><span id="countdown" th:text="#{home.redirection-message-seconds-left}"></span></strong>
            <span th:text="#{home.redirection-message-seconds}"></span></p>
        <div class="text-center mt-4">
            <a th:href="@{/}" class="btn btn-outline-primary me-2" th:text="#{button.return-home}"></a>
        </div>
    </div>
</div>
</body>
</html>