<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <form id="person-details-form">
        <h2>Customer information</h2>
        <div class="person-details-fields">
            <div class="person-details-field">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" required>
            </div>
            <br><br>
            <div class="person-details-field">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" required>
            </div>
            <br><br>
            <div class="person-details-field">
                <label for="customerBirthDate">Birthdate</label>
                <input type="date" id="customerBirthDate" required>
            </div>
        </div>
    </form>
    <br><br>
    <form id="person-identification-form">
        <h2>Customer identification information</h2>
        <div class="person-identification-fields">
            <div class="person-identification-field">
                <label for="personalIdNumber">Personal identification number (ID)</label>
                <input type="text" id="personalIdNumber">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="personalIdNumberIssuedBy" class="personal-id-number-present">
                    Personal identification number issuer (country)</label>
                <input class="personal-id-number-present" type="text" id="personalIdNumberIssuedBy">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="identityDocumentType">Identification document type</label>
                <input type="text" id="identityDocumentType" required>
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="identityDocumentNo">Identification document number</label>
                <input type="text" id="identityDocumentNo" required>
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="identityDocumentIssuedBy">Identification document issuer (country)</label>
                <input type="text" id="identityDocumentIssuedBy">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="residentialDocumentType" class="identification-document-issuer-EU">
                    Other document type</label>
                <input class="identification-document-issuer-EU" type="text" id="residentialDocumentType">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="residentialDocumentNo" class="identification-document-issuer-EU">
                    Other document number</label>
                <input class="identification-document-issuer-EU" type="text" id="residentialDocumentNo">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="otherDocumentIssuedBy" class="identification-document-issuer-EU">
                    Other document issuer (country)</label>
                <input class="identification-document-issuer-EU" type="text" id="otherDocumentIssuedBy">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="residentialCountry" class="other-document-issuer-EU">
                    Country of permanent residence</label>
                <input class="other-document-issuer-EU" type="text" id="residentialCountry">
            </div>
            <br><br>
            <div class="person-identification-field">
                <label for="residentialEUTerritory" class="other-document-issuer-EU">
                    EU territory of permanent residence</label>
                <input class="other-document-issuer-EU" type="text" id="residentialEUTerritory">
            </div>
        </div>
        <br><br>
        <div class="navigation-buttons">
            <button type="button" id="backBtn">Back</button>
            <button type="button" id="nextBtn">Next</button>
        </div>
    </form>
</body>
</html>