<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/declaration.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/lt.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/date_picker_lt.js}"></script>
    <script th:src="@{/js/customer.js}"></script>
</head>
<body class="bg-light px-4 py-4 green-gradient">
<div class="container">
    <form id="customer-details-form" th:action="@{/customer/details/submit}"
          th:object="${declarationDto}" method="post">
        <h2 class="mb-4 input-fields-group-header" th:text="#{customer.header-personal-info}"></h2>
        <div class="text-danger" th:if="${#fields.hasGlobalErrors()}"
             th:each="err : ${#fields.globalErrors()}" th:text="${err}">
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="first-name" class="form-label input-field-label"
                    th:text="#{customer.firstname}"></label>
                <input type="text" id="first-name" th:field="*{customerDto.person.firstName}"
                    class="form-control input-field" required>
                <div class="text-danger" th:if="${#fields.hasErrors('customerDto.person.firstName')}"
                    th:errors="*{customerDto.person.firstName}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="last-name" class="form-label input-field-label"
                    th:text="#{customer.lastname}"></label>
                <input type="text" id="last-name" th:field="*{customerDto.person.lastName}"
                    class="form-control input-field" required>
                <div class="text-danger" th:if="${#fields.hasErrors('customerDto.person.lastName')}"
                    th:errors="*{customerDto.person.lastName}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="customer-birth-date" class="form-label input-field-label"
                    th:text="#{customer.birthdate}"></label>
                <input type="text" id="customer-birth-date" th:placeholder="#{general.date-select}"
                    th:field="*{customerDto.person.birthDate}"
                    class="form-control input-field date-picker-lt" required>
                <div class="text-danger" th:if="${#fields.hasErrors('customerDto.person.birthDate')}"
                    th:errors="*{customerDto.person.birthDate}">
                </div>
            </div>
        </div>
        <h2 class="mb-4 mt-5 input-fields-group-header" th:text="#{customer.header-id-info}"></h2>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="personal-id-number" class="form-label input-field-label personal-id-number-label"
                    th:data-label-option1="#{customer.personal-id-number}"
                    th:data-label-option2="#{customer.personal-id-number-required}"
                    th:text="#{customer.personal-id-number}"></label>
                <input type="text" id="personal-id-number"
                    th:field="*{customerDto.personIdentification.personalIdNumber}"
                    class="form-control input-field">
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.personIdentification.personalIdNumber')}"
                    th:errors="*{customerDto.personIdentification.personalIdNumber}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="personal-id-number-issued-by"
                    class="form-label input-field-label personal-id-number-issued-by-label"
                    th:data-label-option1="#{customer.personal-id-number-issued-by}"
                    th:data-label-option2="#{customer.personal-id-number-issued-by-required}"
                    th:text="#{customer.personal-id-number-issued-by}"></label>
                <select id="personal-id-number-issued-by"
                    th:field="*{customerDto.personIdentification.idIssuedBy}"
                    class="form-control input-field-disabled" readonly>
                        <option value="" id="personal-id-number-issued-by-country-select"
                                th:text="#{customer.country-select}"></option>
                        <option th:each="country : ${allCountries}"
                                th:value="${country}"
                                th:text="${#locale.language == 'en' ? country.getLongEN() : country.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.personIdentification.idIssuedBy')}"
                    th:errors="*{customerDto.personIdentification.idIssuedBy}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="identity-document-type" class="form-label input-field-label"
                    th:text="#{customer.identity-document-type}"></label>
                <select id="identity-document-type"
                    th:field="*{customerDto.identityDocument.identityDocumentType}"
                    class="form-control input-field" required>
                        <option value="" id="identity-document-type-select"
                                th:text="#{customer.document-type-select}"></option>
                        <option th:each="document : ${identityDocumentTypes}"
                                th:value="${document}"
                                th:text="${#locale.language == 'en' ? document.getLongEN() : document.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.identityDocument.identityDocumentType')}"
                    th:errors="*{customerDto.identityDocument.identityDocumentType}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="identity-document-no" class="form-label input-field-label"
                    th:text="#{customer.identity-document-number}"></label>
                <input type="text" id="identity-document-no"
                    th:field="*{customerDto.identityDocument.identityDocumentNo}"
                    class="form-control input-field" required>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.identityDocument.identityDocumentNo')}"
                    th:errors="*{customerDto.identityDocument.identityDocumentNo}">
                </div>
            </div>
            <div class="col-md-6">
                <label for="identity-document-issued-by" class="form-label input-field-label"
                    th:text="#{customer.identity-document-issued-by}"></label>
                <select id="identity-document-issued-by"
                    th:field="*{customerDto.identityDocument.documentIssuedBy}"
                    class="form-control input-field" required>
                        <option value="" id="identity-document-issued-by-country-select"
                                th:text="#{customer.country-select}"></option>
                        <option th:each="country : ${allCountries}"
                                th:value="${country}"
                                th:text="${#locale.language == 'en' ? country.getLongEN() : country.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.identityDocument.documentIssuedBy')}"
                    th:errors="*{customerDto.identityDocument.documentIssuedBy}">
                </div>
            </div>
            <div id="other-document-field-1" class="col-md-6 hidden">
                <label for="residential-document-type"
                    class="form-label input-field-label other-document-field-1-label"
                    th:data-label-option1="#{customer.residential-document-type}"
                    th:data-label-option2="#{customer.residential-document-type-required}"
                    th:text="#{customer.residential-document-type}"></label>
                <select id="residential-document-type"
                    th:field="*{customerDto.residentialDocument.residentialDocumentType}"
                    class="form-control input-field">
                        <option value="" id="residential-document-type-select"
                                th:text="#{customer.document-type-select}"></option>
                        <option th:each="document : ${residentialDocumentTypes}"
                                th:value="${document}"
                                th:text="${#locale.language == 'en' ? document.getLongEN() : document.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.residentialDocument.residentialDocumentType')}"
                    th:errors="*{customerDto.residentialDocument.residentialDocumentType}">
                </div>
            </div>
            <div id="other-document-field-2" class="col-md-6 hidden">
                <label for="residential-document-no"
                    class="form-label input-field-label other-document-field-2-label"
                    th:data-label-option1="#{customer.residential-document-no}"
                    th:data-label-option2="#{customer.residential-document-no-required}"
                    th:text="#{customer.residential-document-no}"></label>
                <input type="text" id="residential-document-no"
                    th:field="*{customerDto.residentialDocument.residentialDocumentNo}"
                    class="form-control input-field">
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.residentialDocument.residentialDocumentNo')}"
                    th:errors="*{customerDto.residentialDocument.residentialDocumentNo}">
                </div>
            </div>
            <div id="other-document-field-3" class="col-md-6 hidden">
                <label for="residential-document-issued-by"
                    class="form-label input-field-label other-document-field-3-label"
                    th:data-label-option1="#{customer.residential-document-issued-by}"
                    th:data-label-option2="#{customer.residential-document-issued-by-required}"
                    th:text="#{customer.residential-document-issued-by}"></label>
                <select id="residential-document-issued-by"
                    th:field="*{customerDto.residentialDocument.residentialDocumentIssuedBy}"
                    class="form-control input-field">
                        <option value="" id="residential-document-issued-by-country-select"
                                th:text="#{customer.country-select}"></option>
                        <option th:each="country : ${EUTerritoriesWithNonEUCountries}"
                                th:value="${country}"
                                th:text="${#locale.language == 'en' ? country.getLongEN() : country.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.residentialDocument.residentialDocumentIssuedBy')}"
                    th:errors="*{customerDto.residentialDocument.residentialDocumentIssuedBy}">
                </div>
            </div>
            <div id="permanent-residence-field" class="col-md-6 hidden">
                <label for="residential-country"
                    class="form-label input-field-label permanent-residence-field-label"
                    th:data-label-option1="#{customer.residential-country}"
                    th:data-label-option2="#{customer.residential-country-required}"
                    th:text="#{customer.residential-country}"></label>
                <select id="residential-country"
                    th:field="*{customerDto.residentialDocument.residentialCountry}"
                    class="form-control input-field">
                        <option value="" id="residential-country-select"
                                th:text="#{customer.country-select}"></option>
                        <option th:each="country : ${nonEUCountries}"
                                th:value="${country}"
                                th:text="${#locale.language == 'en' ? country.getLongEN() : country.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.residentialDocument.residentialCountry')}"
                    th:errors="*{customerDto.residentialDocument.residentialCountry}">
                </div>
            </div>
            <div id="third-territory-EU-field" class="col-md-6 hidden">
                <label for="residential-EU-territory"
                    class="form-label input-field-label third-territory-EU-field-label"
                    th:data-label-option1="#{customer.residential-EU-territory}"
                    th:data-label-option2="#{customer.residential-EU-territory-required}"
                    th:text="#{customer.residential-EU-territory}"></label>
                <select id="residential-EU-territory"
                    th:field="*{customerDto.residentialDocument.residentialEUTerritory}"
                    class="form-control input-field">
                        <option value="" id="residential-EU-territory-select"
                                th:text="#{customer.territory-select}"></option>
                        <option th:each="territory : ${EUTerritoriesThirdCountries}"
                                th:value="${territory}"
                                th:text="${#locale.language == 'en' ?
                                territory.getLongEN() : territory.getLongLT()}">
                        </option>
                </select>
                <div class="text-danger"
                    th:if="${#fields.hasErrors('customerDto.residentialDocument.residentialEUTerritory')}"
                    th:errors="*{customerDto.residentialDocument.residentialEUTerritory}">
                </div>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-between">
            <a th:href="@{/salesman/details}" class="btn btn-secondary btn-back">
                <span class="default-text" th:text="#{button.back}"></span>
                <span class="hover-text"><i class="fas fa-arrow-circle-left"></i>
                    <span th:text="'  ' + #{button.back}"></span></span>
            </a>
            <button type="submit" class="btn btn-primary btn-next">
                <span class="default-text" th:text="#{button.next}"></span>
                <span class="hover-text">
                    <span th:text="#{button.next} + '  '"></span><i class="fas fa-arrow-circle-right"></i></span>
            </button>
        </div>
    </form>
</div>
</body>
</html>