<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}"></title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/declaration.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100 green-gradient">
<div class="position-absolute top-0 end-0 p-3 text-end">
    <div class="text-white fw-semibold">
        <span th:text="#{home.greeting}"></span>
        <span class="role-text" sec:authentication="name"></span>
        <br>
        <span th:text="#{home.role}"></span>
        <span sec:authorize="hasRole('ADMIN')" class="badge bg-primary" th:text="#{home.role-admin}"></span>
        <span sec:authorize="hasRole('USER')" class="badge bg-success" th:text="#{home.role-user}"></span>
    </div>
    <form th:action="@{/logout}" method="post" class="mt-2">
        <button type="submit" class="btn btn-sm btn-outline-light home-buttons" th:text="#{home.logout}"></button>
    </form>
</div>
<div class="container text-center">
    <div class="card shadow-lg p-5 rounded-5 home">
        <h1 class="mb-4" th:text="#{home.welcome}"></h1>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/salesman/details}"
               class="btn btn-primary btn-lg home-buttons" th:text="#{button.submit-declaration}"></a>
            <a th:href="@{/declarations}" class="btn btn-success btn-lg home-buttons"
               th:text="#{button.view-declarations}"></a>
        </div>
    </div>
</div>
</body>
</html>