<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/declaration.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100 green-gradient">
<div class="card shadow p-4 login">
    <h3 class="text-center mb-4">Login</h3>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password!
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
        <div class="mb-3">
            <label for="username" class="form-label login-text">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label login-text">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary login-button">Login</button>
        </div>
    </form>
</div>
</body>
</html>