<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales document</title>
</head>
<body>
    <form id="sales-document-form">
        <h2>Sales document information</h2>
        <div class="sales-document-fields">
            <div class="sales-document-type-select">
                <label>Select sales document type:</label>
                <br><br>
                <label>
                    <input type="radio" name="salesDocumentType" value="cashRegisterReceipt"
                           onclick="displayOtherSalesDocumentFields('cashRegisterReceipt')"
                           required>Cash register receipt
                </label>
                <label>
                    <input type="radio" name="salesDocumentType" value="invoice"
                           onclick="displayFields('invoice')">Invoice
                </label>
            </div>
            <br><br>
            <div class="cash-register-receipt-fields">
                <div class="cash-register-receipt-field">
                    <label for="cashRegisterNo">Cash register number</label>
                    <input type="text" id="cashRegisterNo">
                </div>
                <br><br>
                <div class="cash-register-receipt-field">
                    <label for="cashReceiptNo">Cash receipt number</label>
                    <input type="text" id="cashReceiptNo">
                </div>
            </div>
            <div class="invoice-fields">
                <div class="invoice-field">
                    <label for="invoiceSalesDate">Sales date</label>
                    <input type="date" id="invoiceSalesDate">
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <form id="goods-information-form">
        <h2>Goods information</h2>
        <div class="goods-information-fields">
            <div class="goods-information-field">
                <label for="productSequenceNo">Product position</label>
                <input type="number" id="productSequenceNo" required readonly>
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="productDescription">Product description</label>
                <input type="text" id="productDescription" required>
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="productQuantity">Quantity</label>
                <input type="number" id="productQuantity" required>
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="measurementUnits" class="measurement-units-other-present">
                    Unit of measurement</label>
                <input class="measurement-units-other-present" type="text" id="measurementUnits">
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="measurementUnitsOther" class="measurement-units-present">
                    Unit of measurement (other)</label>
                <input class="measurement-units-present" type="text" id="measurementUnitsOther">
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="taxableAmount">Taxable amount (EUR)</label>
                <input type="number" id="taxableAmount" required readonly>
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="vatAmount">Taxable amount (EUR)</label>
                <input type="number" id="vatAmount" required readonly>
            </div>
            <br><br>
            <div class="goods-information-field">
                <label for="totalAmount">Total amount (EUR)</label>
                <input type="number" id="totalAmount" required>
            </div>
        </div>
        <br><br>
        <div class="goods-information-fields">
            <!--Fields for each additional product will be added here-->
        </div>
        <br><br>
        <div class="navigation-buttons">
            <button type="button" id="backBtn">Back</button>
            <button type="button" id="nextBtn">Next</button>
        </div>
    </form>
</body>
</html>