<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salesman</title>
</head>
<body>
    <form id="salesman-details-form">
        <h2>Salesman information</h2>
        <div class="salesman-details-fields">
            <div class="salesman-details-field">
                <label for="vatPayerCode">VAT payer code</label>
                <input type="number" id="vatPayerCode" required>
            </div>
            <br><br>
            <div class="salesman-details-field">
                <label for="vatPayerCodeIssuedBy">VAT payer's code issuer (country)</label>
                <input type="text" id="vatPayerCodeIssuedBy" value="LT" required readonly>
            </div>
            <br><br>
            <div class="salesman-details-field">
                <label for="salesmanName">Salesman name</label>
                <input type="text" id="salesmanName" required>
            </div>
        </div>
        <br><br>
        <div class="navigation-buttons">
            <button type="button" id="backBtn">Back</button>
            <button type="button" id="nextBtn">Next</button>
        </div>
    </form>
</body>
</html>